body {
    background-color: blue
}

.color-container {
    background-color: #2A2A2A;
}

.centro
{
    text-align: center;

}

.color-texto-blanco {
    color: white;
}

.color-container3 {
    background-color: beige;
}

